@model GioiThieuNhaHang.Models.MonAn

@{
    ViewData["Title"] = "Sửa món ăn";
}

<h2>Sửa món ăn</h2>
<form asp-action="EditMonAn" method="post">
    <input type="hidden" asp-for="IdMonAn" />
    <div class="form-group">
        <label>Tên món</label>
        <input asp-for="TenMon" class="form-control" />
    </div>
    <div class="form-group">
        <label>Giá</label>
        <input asp-for="Gia" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Link ảnh</label>
        <input asp-for="HinhAnh" class="form-control" />
    </div>
    <div>
        <label>Loại món</label>
        <select asp-for="IdLoai" asp-items="ViewBag.LoaiMon">
            <option value="">-- Chọn loại món --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Cập nhật</button>
</form>
